* {
  padding: 0;
  margin: 0 auto;
  width: auto;
}

/* MOBILE */
@media screen and (min-width: 320px) and (max-width: 767px) {
  P {
    color: red;
  }
  .mainright {
    color: red;
  }
  .mainwarning a {
    color: orangered;
  }
  .mainnav a {
    color: red;
  }
  .mainnav ul li {
    padding: 0.5rem;
  }
  .barraprincipal {
    padding-left: 2rem;
  }
  .trialsbox {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "derecha" "izquierda";
  }
  .barraprincipal .name {
    padding-bottom: 2rem;
    padding-right: 5rem;
  }
  .f1 {
    padding-right: 2rem;
  }
  .mainleft {
    grid-area: izquierda;
    padding-left: 8rem;
    padding-top: 20rem;
  }
}
/* tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .trialsbox {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "derecha" "izquierda";
  }
}
.contacto {
  background-color: black;
}

iframe {
  width: 100%;
  height: 10%;
}

.contactgrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "izquierda derecha";
}
.contactgrid .contactform {
  width: 80%;
}
.contactgrid .contact1 {
  display: flex;
  flex-direction: column;
}
.contactgrid .contact1 .contact2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.contactgrid .contact1 .contact2 div {
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
}
.contactgrid .contact1 .contact2 div input {
  padding: 0.4rem;
  width: 25rem;
}
.contactgrid .contact1 .contact2 .contact3 {
  display: flex;
  flex-direction: column;
}
.contactgrid .contact1 .contact2 .contact3 .textarea {
  width: 85%;
}
.contactgrid .contact1 .contact2 .contact3 .contact4 {
  display: flex;
  flex-direction: row;
  justify-content: start;
}
.contactgrid .contact1 .contact2 .contact3 .contact4 .contact4 input {
  width: 1rem;
  margin: 0 50px;
}
.contactgrid .contact1 .contact2 .contact3 .contact4 .contact4 input .contact4 label {
  margin: 50%;
}

.mainpage {
  background-image: url(../assets/Portada\ Principal.png);
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
.mainpage .maingrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "izquierda derecha";
}
.mainpage .maingrid .mainleft {
  grid-area: izquierda;
  padding-left: 3rem;
  padding-top: 5rem;
}
.mainpage .maingrid .mainright {
  grid-area: derecha;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 2rem;
  margin-right: 25%;
  padding-top: 10rem;
  color: white;
}
.mainpage .maingrid .mainright h2 {
  padding-bottom: 4rem;
}
.mainpage .maingrid .mainright .mainwarning {
  padding-top: 5rem;
  color: orangered;
}
.mainpage .maingrid .mainright .mainwarning a {
  text-decoration: none;
  color: orangered;
  text-shadow: 0 0 5px black;
}

.jo {
  background-image: url(../assets/JO.png);
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: 100% 100%;
}

.jobox {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "izquierda derecha";
  color: white;
}
.jobox .joleft {
  grid-area: izquierda;
  padding-top: 6rem;
  width: 80%;
}
.jobox .joleft h2 {
  text-align: center;
  font-size: 2rem;
  padding-bottom: 3.5rem;
}
.jobox .joleft p {
  text-align: center;
  font-size: 1.5rem;
  padding-bottom: 3rem;
}
.jobox .joright {
  grid-area: derecha;
  padding-top: 7rem;
  width: 80%;
}
.jobox .joright h3 {
  text-align: center;
  font-size: 2rem;
  padding-bottom: 3.5rem;
}
.jobox .joright ul {
  text-align: center;
  font-size: 1.5rem;
  padding-bottom: 7rem;
}
.jobox .joright p {
  text-align: center;
  font-size: 2rem;
  color: white;
  padding-bottom: 1rem;
}

.jowarning p {
  text-align: center;
  font-size: 1.5rem;
  color: orangered;
  padding-top: 10rem;
  padding-bottom: 7.5rem;
  width: 50%;
}

.aboutus {
  background-image: url(..//assets/sobre\ nosotros.png);
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.trialsbox {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "izquierda derecha";
}
.trialsbox .leftjuicios {
  grid-area: izquierda;
}
.trialsbox .trialstext {
  width: 100%;
}
.trialsbox .trialstext p {
  justify-content: center;
  text-align: center;
  font-size: 1.5rem;
  color: white;
  padding-top: 5rem;
}
.trialsbox .rightjuicios {
  grid-area: derecha;
}
.trialsbox .rightjuicios .boss {
  padding-top: 8rem;
  color: orangered;
  text-align: center;
}
.trialsbox .members {
  display: flex;
  color: orangered;
  text-align: center;
  margin-top: 3rem;
}

.juicios {
  background-image: url(..//assets/Juicios.png);
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.jobox {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "izquierda derecha";
  color: white;
}
.jobox .joleft {
  grid-area: izquierda;
  padding-top: 6rem;
  width: 80%;
}
.jobox .joleft h2 {
  text-align: center;
  font-size: 2rem;
  padding-bottom: 3.5rem;
  text-decoration: none;
  color: white;
  text-shadow: 0 0 5px black;
}
.jobox .joleft h3 {
  color: white;
  text-shadow: 0 0 5px black;
  text-align: center;
  font-size: 1.5rem;
  padding-bottom: 3.5rem;
}
.jobox .joleft p {
  color: white;
  text-shadow: 0 0 5px black;
  text-align: center;
  font-size: 1.5rem;
  padding-bottom: 3rem;
}
.jobox .joright {
  grid-area: derecha;
  padding-top: 7rem;
  width: 80%;
}
.jobox .joright h2 {
  color: white;
  text-shadow: 0 0 5px black;
  text-align: center;
  font-size: 2rem;
  padding-bottom: 3.5rem;
}
.jobox .joright h3 {
  color: white;
  text-shadow: 0 0 5px black;
  text-align: center;
  font-size: 1.5rem;
  padding-bottom: 3.5rem;
}
.jobox .joright ul {
  color: white;
  text-shadow: 0 0 5px black;
  text-align: center;
  font-size: 1.5rem;
  padding-bottom: 7rem;
}
.jobox .joright p {
  color: white;
  text-shadow: 0 0 5px black;
  text-align: center;
  font-size: 2rem;
  color: white;
  padding-bottom: 1rem;
}

.jowarning p {
  text-align: center;
  font-size: 1.5rem;
  color: orangered;
  padding-top: 10rem;
  padding-bottom: 7.5rem;
  width: 50%;
}

.encabezado {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0%;
  padding: 1rem;
  background-color: #3a3a3a;
  color: white;
  font-size: 1rem;
}
.encabezado p {
  margin: 0;
  padding-right: 16.5rem;
  padding-left: 8.5rem;
}
.encabezado .tlf {
  color: orangered;
}

.barraprincipal {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.barraprincipal .name {
  margin: 0;
  padding-right: 30rem;
  display: flex;
}
.barraprincipal .name img {
  height: 8rem;
  margin: 0;
}
.barraprincipal .name .titulo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.barraprincipal .name a {
  text-decoration: none;
  color: white;
  text-shadow: 0 0 5px black;
}
.barraprincipal .mainnav {
  margin: 0;
  align-self: center;
  width: 42rem;
  padding-right: 8rem;
}
.barraprincipal .mainnav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.barraprincipal .mainnav ul li {
  padding-right: 3rem;
}
.barraprincipal .mainnav ul li a {
  text-decoration: none;
  color: white;
}
.barraprincipal .mainnav ul .bonificationbox {
  background-color: orangered;
  padding: 0.7rem;
}
.barraprincipal .mainnav ul .bonificationbox .bonification {
  margin: 0;
  align-self: center;
  color: white;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  bottom: 0%;
  width: 100%;
  padding: 0.3rem;
  background-color: #3a3a3a;
  color: white;
  font-size: 1rem;
  bottom: 0%;
  position: relative;
}
footer .f1 {
  padding-right: 51rem;
}
footer .f2 {
  padding-right: 8rem;
}

.contactfooter {
  position: fixed;
  bottom: 0%;
}/*# sourceMappingURL=styles.css.map */