@import url("https://fonts.googleapis.com/css2?family=STIX+Two+Text:ital,wght@0,400..700;1,400..700&display=swap");
* {
  padding: 0;
  margin: 0 auto;
  width: auto;
}

.contacto {
  background-color: black;
}

.iframe {
  width: 100%;
  height: 20rem;
}
.iframe iframe {
  width: 100%;
}

.contactgrid {
  display: grid;
  background-color: black;
  color: white;
  padding-top: 3rem;
}
.contactgrid .contactform {
  width: 80%;
}
.contactgrid .contact1 {
  display: flex;
  flex-direction: column;
}
.contactgrid .contact1 .contact2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.contactgrid .contact1 .contact2 div {
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
}
.contactgrid .contact1 .contact2 div input {
  padding: 0.4rem;
  width: 25rem;
}
.contactgrid .contact1 .contact3 {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.contactgrid .contact1 .contact3 textarea {
  width: 100%;
}
.contactgrid .contact1 .contact4 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.contactgrid .contact1 .contact4 input {
  width: 1rem;
}
.contactgrid .contact1 .contact4 label {
  margin: 0;
}
.contactgrid .contact1 .buttom {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
}
.contactgrid .contact1 .buttom input {
  padding: 0.5rem;
  border-radius: 20%;
}

.mainpage {
  background-image: url(../assets/Portada\ Principal.png);
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
.mainpage .maingrid {
  display: grid;
}
.mainpage .maingrid .mainleft {
  grid-area: izquierda;
}
.mainpage .maingrid .mainright {
  grid-area: derecha;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 2rem;
  color: white;
}
.mainpage .maingrid .mainright h2 {
  margin-bottom: 4rem;
}
.mainpage .maingrid .mainright .mainwarning {
  margin-top: 5rem;
  color: orangered;
}
.mainpage .maingrid .mainright .mainwarning a {
  text-decoration: none;
  color: orangered;
  text-shadow: 0 0 5px black;
}

.jo {
  background-image: url(../assets/JO.png);
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: 100% 100%;
}

.jobox1 {
  display: grid;
  color: white;
}
.jobox1 .joleft1 {
  grid-area: izquierda;
  padding-top: 6rem;
  width: 80%;
}
.jobox1 .joleft1 h2 {
  text-align: center;
  font-size: 2rem;
  padding-bottom: 3.5rem;
}
.jobox1 .joleft1 p {
  text-align: center;
  font-size: 1.5rem;
  padding-bottom: 3rem;
}
.jobox1 .joright1 {
  grid-area: derecha;
  padding-top: 7rem;
  width: 80%;
}
.jobox1 .joright1 h3 {
  text-align: center;
  font-size: 2rem;
  padding-bottom: 3.5rem;
}
.jobox1 .joright1 ul {
  text-align: center;
  font-size: 1.5rem;
  padding-bottom: 7rem;
}
.jobox1 .joright1 p {
  text-align: center;
  font-size: 2rem;
  color: white;
  padding-bottom: 1rem;
}

.jowarning1 {
  margin-bottom: 2rem;
}
.jowarning1 p {
  text-align: center;
  font-size: 2rem;
  color: orangered;
  width: 50%;
  text-shadow: 1px 1px 1px black;
}

.aboutus {
  background-image: url(..//assets/sobre\ nosotros.png);
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.trialsbox {
  display: grid;
}
.trialsbox .leftjuicios {
  grid-area: izquierda;
}
.trialsbox .trialstext {
  width: 100%;
}
.trialsbox .trialstext p {
  justify-content: center;
  text-align: center;
  font-size: 1.5rem;
  color: white;
  padding-top: 5rem;
}
.trialsbox .rightjuicios {
  grid-area: derecha;
}
.trialsbox .rightjuicios .boss {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 8rem;
  color: orangered;
  text-align: center;
}
.trialsbox .members {
  display: flex;
  color: orangered;
  text-align: center;
  margin-top: 3rem;
}

.juicios {
  background-image: url(..//assets/Juicios.png);
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.jobox {
  display: grid;
  color: white;
  margin-top: 5rem;
}
.jobox .joleft {
  grid-area: izquierda;
  width: 80%;
}
.jobox .joleft h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 3.5rem;
  text-decoration: none;
  color: white;
  text-shadow: 0 0 5px black;
}
.jobox .joleft h3 {
  color: white;
  text-shadow: 0 0 5px black;
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 3.5rem;
}
.jobox .joleft p {
  color: white;
  text-shadow: 0 0 5px black;
  text-align: center;
  font-size: 1.5rem;
}
.jobox .joright {
  grid-area: derecha;
  width: 80%;
}
.jobox .joright h2 {
  color: white;
  text-shadow: 0 0 5px black;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 3.5rem;
}
.jobox .joright h3 {
  color: white;
  text-shadow: 0 0 5px black;
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 3.5rem;
}
.jobox .joright p {
  color: white;
  text-shadow: 0 0 5px black;
  text-align: center;
  font-size: 1.5rem;
  color: white;
}

.jowarning {
  margin-top: 6rem;
}
.jowarning p {
  text-align: center;
  font-size: 1.5rem;
  color: orangered;
  text-shadow: 1px 1px 1px black;
  width: 50%;
}

.jowarning2 {
  margin: 3rem 0;
}
.jowarning2 p {
  text-align: center;
  font-size: 1.5rem;
  color: orangered;
  text-shadow: 1px 1px 1px black;
  width: 50%;
}

header {
  width: 100%;
}

.encabezado {
  margin: 0%;
  background-color: #3a3a3a;
  color: white;
  font-size: 1rem;
  width: 100%;
}
.encabezado .encabezadocontent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  padding: 0.5rem;
}
.encabezado .encabezadocontent p {
  margin: 0%;
}
.encabezado .tlf {
  color: orangered;
}

.barraprincipal .barraprincipalcontent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 80%;
}
.barraprincipal .barraprincipalcontent .name {
  margin: 0;
  display: flex;
}
.barraprincipal .barraprincipalcontent .name img {
  height: 8rem;
  margin: 0;
}
.barraprincipal .barraprincipalcontent .name .titulo {
  font-family: "STIX Two Text", serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.barraprincipal .barraprincipalcontent .name a {
  text-decoration: none;
  color: white;
  text-shadow: 0 0 5px black;
}
.barraprincipal .barraprincipalcontent .mainnav {
  margin: 0;
  align-self: center;
}
.barraprincipal .barraprincipalcontent .mainnav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}
.barraprincipal .barraprincipalcontent .mainnav ul li {
  margin: 0 1rem;
}
.barraprincipal .barraprincipalcontent .mainnav ul li a {
  font-family: "STIX Two Text", serif;
  text-decoration: none;
  color: white;
  font-size: 1.1rem;
}
.barraprincipal .barraprincipalcontent .mainnav ul .bonificationbox {
  background-color: orangered;
  padding: 0.7rem;
}
.barraprincipal .barraprincipalcontent .mainnav ul .bonificationbox .bonification {
  margin: 0;
  align-self: center;
  color: white;
}

footer {
  margin-top: auto;
  width: 100%;
  padding: 0.5rem;
  background-color: #3a3a3a;
  color: white;
}
footer .pfooters {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1rem;
  width: 80%;
}
footer .pfooters p {
  margin: 0;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .mainpage .maingrid {
    display: grid;
    margin-top: 3rem;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "izquierda" "derecha";
  }
  .mainpage .maingrid .mainleft .carousel-item img {
    width: 100%;
  }
  .mainpage .maingrid .mainright {
    margin-top: 3rem;
    padding: 0;
  }
  .encabezado .encabezadocontent {
    width: 100%;
  }
  .barraprincipal .barraprincipalcontent {
    width: 100%;
    justify-items: center;
  }
  .barraprincipal .barraprincipalcontent .name {
    padding-left: 2rem;
  }
  .barraprincipal .barraprincipalcontent .name .titulo h1 {
    padding-left: 2rem;
  }
  .barraprincipal .barraprincipalcontent .name .titulo h2 {
    padding-left: 2rem;
    font-size: 0.8rem;
  }
  .barraprincipal .barraprincipalcontent .mainnav {
    margin-top: 3rem;
  }
  .jobox1 {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "izquierda" "derecha";
  }
  .jowarning1 {
    width: 100%;
  }
  .jowarning1 p {
    width: 90%;
  }
  .jobox {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "izquierda" "derecha";
  }
  .jowarning {
    width: 100%;
  }
  .jowarning p {
    width: 90%;
  }
  .jowarning2 {
    width: 100%;
  }
  .jowarning2 p {
    width: 90%;
  }
  .trialsbox {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "derecha" "izquierda";
  }
  .rightjuicios .boss {
    padding: 0;
    margin: 0;
  }
  .members {
    flex-wrap: wrap;
  }
  .contactgrid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "derecha" "izquierda";
  }
  .contactcontain {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .pfooters {
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .mainpage .maingrid {
    display: grid;
    margin-top: 3rem;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "izquierda" "derecha";
  }
  .mainpage .maingrid .mainleft .carousel-item img {
    width: 100%;
  }
  .mainpage .maingrid .mainright {
    margin-top: 3rem;
    padding: 0;
  }
  .encabezado .encabezadocontent {
    width: 100%;
  }
  .barraprincipal .barraprincipalcontent {
    width: 100%;
    justify-items: center;
  }
  .barraprincipal .barraprincipalcontent .name {
    padding-left: 2rem;
  }
  .barraprincipal .barraprincipalcontent .name .titulo h1 {
    padding-left: 2rem;
  }
  .barraprincipal .barraprincipalcontent .name .titulo h2 {
    padding-left: 2rem;
    font-size: 0.8rem;
  }
  .barraprincipal .barraprincipalcontent .mainnav {
    margin-top: 3rem;
  }
  .jobox1 {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "izquierda" "derecha";
  }
  .jobox {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "izquierda" "derecha";
  }
  .trialsbox {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "derecha" "izquierda";
  }
  .rightjuicios .boss {
    padding: 0;
    margin: 0;
  }
  .members {
    flex-wrap: wrap;
  }
  .contactgrid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "derecha" "izquierda";
  }
  .contactcontain {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .pfooters {
    width: 100%;
  }
}
@media screen and (min-width: 1024px) {
  .mainpage .maingrid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "izquierda derecha";
    margin-top: 10rem;
  }
  .mainpage .maingrid .mainleft .carousel-item img {
    width: 45rem;
  }
  .mainpage .maingrid .mainright {
    padding-right: 9rem;
  }
  .jobox1 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "izquierda derecha";
  }
  .jobox {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "izquierda derecha";
  }
  .trialsbox {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "izquierda derecha";
  }
  .contactgrid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "izquierda derecha";
  }
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}/*# sourceMappingURL=styles.css.map */