footer {
    margin-top: auto;
    width: 100%;
    padding: 0.5rem;
    background-color: #3a3a3a;
    color: white;
    .pfooters{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 1rem;
        width: 80%;
        p{
            margin: 0;
        }
    }
}
