.mainpage {
    background-image: url(../assets/Portada\ Principal.png);
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    .maingrid {
        display: grid;
        .mainleft {
            grid-area: izquierda;
        }
        .mainright {
            grid-area: derecha;
            display: flex;
            flex-direction: column;
            text-align: center;
            font-size: 2rem;
            color: white;
            h2 {
                margin-bottom: 4rem;
            }
            .mainwarning {
                margin-top: 5rem;
                color: orangered;
                a {
                    text-decoration: none;
                    color:orangered;
                    text-shadow: 0 0 5px black;
                }
            }
        }
    }
}