.mainpage {
    background-image: url(../assets/Portada\ Principal.png);
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    .maingrid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "izquierda derecha"
        ;
        .mainleft {
            grid-area: izquierda;
            padding-left: 3rem;
            padding-top: 5rem;
        }
        .mainright {
            grid-area: derecha;
            display: flex;
            flex-direction: column;
            text-align: center;
            font-size: 2rem;
            margin-right: 25%;
            padding-top: 10rem;
            color: white;
            h2 {
                padding-bottom: 4rem;
            }
            .mainwarning {
                padding-top: 5rem;
                color: orangered;
                a {
                    text-decoration: none;
                    color:orangered;
                    text-shadow: 0 0 5px black;
                }
            }
        }
    }
}