.jo {
    background-image: url(../assets/JO.png);
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.jobox1 {
    display: grid;
    color:white;
    .joleft1 {
        grid-area: izquierda;
        padding-top: 6rem;
        width: 80%;
        h2 {
            text-align: center;
            font-size: 2rem;
            padding-bottom: 3.5rem;
        }
        p {
            text-align : center;
            font-size : 1.5rem;
            padding-bottom: 3rem;
        }
    }
    .joright1 {
        grid-area: derecha;
        padding-top: 7rem;
        width: 80%;
        h3 {
            text-align: center;
            font-size : 2rem;
            padding-bottom: 3.5rem;
        }
        ul {
            text-align: center;
            font-size: 1.5rem;
            padding-bottom: 7rem;
        }
        p {
            text-align: center;
            font-size: 2rem;
            color: white;
            padding-bottom: 1rem;
        }
    }
}
.jowarning1 {
    margin-bottom: 2rem;
    p {
    text-align: center;
    font-size: 2rem;
    color: orangered;
    width: 50%;
    text-shadow: 1px 1px 1px black;
}
}