.juicios {
    background-image: url(..//assets/Juicios.png);
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.jobox {
    display: grid;
    color:white;
    margin-top: 5rem;
    .joleft {
        grid-area: izquierda;
        width: 80%;
        h2 {
            text-align: center;
            font-size: 2rem;
            margin-bottom: 3.5rem;
            text-decoration: none;
            color:white;
            text-shadow: 0 0 5px black;
        }
        h3 {
            color:white;
            text-shadow: 0 0 5px black;
            text-align: center;
            font-size: 1.5rem;
            margin-bottom: 3.5rem;
        }
        p {
            color:white;
            text-shadow: 0 0 5px black;
            text-align : center;
            font-size : 1.5rem;
        }
    }
    .joright {
        grid-area: derecha;
        width: 80%;
        h2 {
            color:white;
            text-shadow: 0 0 5px black;
            text-align: center;
            font-size : 2rem;
            margin-bottom: 3.5rem;
        }
        h3 {
            color:white;
            text-shadow: 0 0 5px black;
            text-align: center;
            font-size: 1.5rem;
            margin-bottom: 3.5rem;
        }

        p {
            color:white;
            text-shadow: 0 0 5px black;
            text-align: center;
            font-size: 1.5rem;
            color: white;
        }
    }
}
.jowarning {
    margin-top: 6rem;
    p{
    text-align: center;
    font-size: 1.5rem;
    color: orangered;
    text-shadow: 1px 1px 1px black;
    width: 50%;
    }
}

.jowarning2 {
    margin: 3rem 0;
    p{
        text-align: center;
        font-size: 1.5rem;
        color: orangered;
        text-shadow: 1px 1px 1px black;
        width: 50%;
        }
}