.aboutus {
    background-image: url(..//assets/sobre\ nosotros.png);
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.trialsbox {
    display: grid;
    .leftjuicios {
        grid-area: izquierda;    
    }
        .trialstext {
            width: 100%;
        }    
        .trialstext p {
            justify-content: center;
            text-align: center;
            font-size: 1.5rem;
            color: white;
            padding-top: 5rem;
        }
    .rightjuicios {
        grid-area: derecha;
        .boss {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 8rem;
            color: orangered;
            text-align: center;
        }
    }
        .members {
            display: flex;
            color: orangered;
            text-align: center;
            margin-top: 3rem;
        }    
}