*{
    padding: 0;
    margin: 0 auto;
    width: auto;
}

@import 'media-querie';
@import 'contacto';
@import 'index';
@import 'jo';
@import 'sobre_nosotros';
@import 'juicios';
@import 'header';
@import 'footer';
